  <input id="artist-search" placeholder="Start typing artist name" class="main-input"><span class='js_search_loader' style="display: none"><%= image_tag('loading.gif', :class => '	fix-pos') %></span>



<% content_for :scripts do %>
  <script type="text/javascript">
    $( "#artist-search" ).autocomplete({
      source: function(request, response) {
        $('.js_search_loader').show();
        $.ajax({
            url: "<%= search_artists_path %>",
            data: { term: $("#artist-search").val()},
            dataType: "json",
            type: "GET",
            success: function(data) { 
              $('.js_search_loader').hide();
                response($.map(data, function(obj) {
                    return {
                        label: obj.name + ' (Listeners ' + obj.listeners + ')',
                        value: obj.name,
                        description: obj.mbid
                    };
                }));
            }

        });    
      },
      select: function( event, ui ) {
        window.location = "<%= artist_path('path') %>".replace('path', ui.item.description)
      },
      minLength: 2
  });
  </script>
<% end %>